<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
    <div>
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if pages %}
                <ur>
                    {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ur>
            {% endif %}
            <br>
            <a href="/rango/add_page/{{ category.slug }}">Add Page!</a>
        {% else %}
            The specified category does not exist!
        {% endif %}
    </div>
</body>
</html>