<!DOCTYPE html>
{% load staticfiles %} <!-- 新增 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
    <h1>Rango says...</h1>
    <div>hey there partner!</div>
    <div>
        <h2>Most Liked Categories</h2>
        {% if categories %}
            {% for category in categories %}
                <li>
                    <a href="/rango/category/{{ category.slug }}">{{ category.name }}
                </li>
            {% endfor %}
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        <br/>
        <a href="/rango/add_category/">Add a New Category</a>
        <br/>
    </div>
    <div>
        <h2>Most Views Pages</h2>
        {% if pages %}
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        <br>

    </div>
    <br/>
    <div>
        <a href="/rango/about/"><strong>About Rango</strong></a><br/>
        <img src="{% static 'image/xiaoxin.jpg' %}" alt="Picture of Rango">
        <img src="{{ MEDIA_URL }}xiaoxin.jpg" alt="Picture of xiaoxin">
    </div>

</body>
</html>